<!doctype html>
<html>

<head>
 <meta charset="utf-8" />
 <title>CodeSnips</title>
 <link rel="stylesheet" type="text/css" href="static/main.css" />
 <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>

<body>
 <div class="nav">
   <a href="/">Home</a>  
 </div>
 {{#code}}
  <form action="/{{_id}}/edit" method="POST">
  <fieldset>
  <legend>Edit this snippet:</legend>
   <label for="{{title}}">Title:</label>
   <input type="text" id="{{title}}" name="title" value="{{title}}" />
   <label for="{{body}}">Body:</label>
   <textarea type="taext" id="{{body}}" name="body" value="">{{body}}</textarea>
   <label for="{{notes}}">Notes:</label>
   <input type="text" id="{{notes}}" name="notes" value="{{notes}}" />
   <label for="“{{language}}”">Language:</label>
   <input type="text" id="{{language}}" name="language" value="{{language}}" />
   <label for="{{tags}}">Tags:</label>
   <input type="text" id="{{tags}}" name="tags" value="{{tags}}" />
   <label for="author">Author:</label>
   <input type="text" id="author" name="author" value="{{user}}" />
   <button type="submit">Edit</button>
  </fieldset>
  </form>
 {{/code}}
</body>

</html>
