<!doctype html>
<html>

<head>
 <meta charset="utf-8" />
 <title>CodeSnips</title>
 <link rel="stylesheet" type="text/css" href="static/main.css" />
 <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>

<body>
 <div class="nav">
  <a href="/">Home</a>
 </div>
 <div class=codeContainer>
 {{#code}}
  <div class="codeSnippets">
    <a href="{{_id}}"><h2>Title: {{title}}</h2></a>
    <a href="/author/{{author}}"><h3>By: {{author}}</h3></a>
    <code>Code: {{body}}</code>
    <h4>Notes: {{notes}}</h4>
    <a href="/language/{{language}}"><h5>Language: {{language}}</h5></a>
    <a href="/tags/{{tags}}"><h5>Tags: {{tags}}</h5></a>
  </div>
 {{/code}}
   </div>
   <div class="options">
   {{#code}}
      <a href="{{_id}}/edit">Edit this snippet</a>
   {{/code}}
   {{#code}}
    <form action="/{{_id}}" method="POST">
      <button type=submit>Delete this snippet</button>
    </form>
   {{/code}}
 </div>
</body>

</html>
