<!doctype html>
<hmtl>
 <head>

 </head>
 <body>
   <form action="/login" method='POST'>
    <fieldset>
     <legend>Login</legend>
      Username: <input type=text id"username" name="username" placeholder="username" />
      Password: <input type="password" name="password" id="password" placeholder="password" />
      <button type="submit">Submit</button>
    </fieldset>
   </form>
 </body>
</hmtl>
