<!doctype html>
<hmtl>

  <head>
   <meta charset="utf-8" />
   <title>CodeSnips</title>
   <link rel="stylesheet" type="text/css" href="static/main.css" />
   <link rel="stylesheet" type="text/css" href="/static/main.css" />
  </head>

 <body>
  <form action="/register" method='POST'>
   <fieldset>
    <legend>Register:</legend>
    Username: <input type=text id="username" name="username" placeholder="username" />
    Password: <input type="password" name="password" id="password" placeholder="password" />
    <button type="submit">Submit</button>
   </fieldset>
  </form>
 </body>
</hmtl>
