* {
 font-family: Helvetica, sans-serif;
 text-decoration: none;
}

.codeContainer {
 display: flex;
 flex-direction: row;
}

.codeSnippets {
 border: 1px solid black;
 padding: 10px 10px;
 margin: 5px 5px;
}
